local.settings.json
.venv
/.idea
/NeighborlyAPI/.idea/
/.python_packages
/NeighborlyAPI/.idea
/NeighborlyFrontEnd/.python_packages
/NeighborlyFrontEnd/.azure
/NeighborlyFrontEnd/.idea
/NeighborlyFrontEnd/__pycache__
/NeighborlyAPI/.vscode
